@font-face {
	font-family: 'RalewayBold';
	src: url('../../fonts/RalewayBold.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RalewayExtraBold';
	src: url('../../fonts/RalewayExtraBold.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RalewayRegular';
	src: url('../../fonts/RalewayRegular.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'IntroRegular';
	src: url('../../fonts/IntroRegular.woff');
	font-style: normal;
	font-weight: normal;
}