@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/RalewayBold.woff');
	font-weight: bold;
}

@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/RalewayExtraBold.woff');
	font-weight: 800;
}

@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/RalewayRegular.woff');
}

@font-face {
	font-family: 'IntroRegular';
	src: url('../../fonts/IntroRegular.woff');
}
