section.portfolio
	.portfolio_items
		.portfolio_item(style=`background-image: url(img/1.jpg)`)
				p Cool Glasses

		.portfolio_item(style=`background-image: url(img/2.jpg)`)
			p Cool MacBook

		.portfolio_item(style=`background-image: url(img/3.jpg)`)
			p Cool iMac

		.portfolio_item(style=`background-image: url(img/4.jpg)`)
			p Cool Hacking

		.portfolio_item(style=`background-image: url(img/5.jpg)`)
			p Cool CSS-Grid

		.portfolio_item(style=`background-image: url(img/6.jpg)`)
			p Cool WorkSpace

		.portfolio_item(style=`background-image: url(img/7.jpg)`)
			p Cool Notebook

		.portfolio_item(style=`background-image: url(img/8.jpg)`)
			p Cool Code

		.portfolio_item(style=`background-image: url(img/9.jpg)`)
			p Cool Time

	.buttoncase
		a.gb-btn(href='#') View Portfolio
