section.blog.landing-section
	.wrap
		h2 Ready To Read Our Blog?

		.blog_home.grid

			a.blog_item(href="#")
				span.blog_item-img(style="background-image: url(img/1.jpg)")
				span.blog_item-cont
					h4 We Are Champions All The Time

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae corporis dolorem ea esse explicabo

			a.blog_item(href="#")
				span.blog_item-img(style="background-image: url(img/2.jpg)")
				span.blog_item-cont
					h4 We Are Champions All The Time

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae corporis dolorem ea esse explicabo

			a.blog_item(href="#")
				span.blog_item-img(style="background-image: url(img/3.jpg)")
				span.blog_item-cont
					h4 We Are Champions All The Time

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae corporis dolorem ea esse explicabo

			a.blog_item(href="#")
				span.blog_item-img(style="background-image: url(img/4.jpg)")
				span.blog_item-cont
					h4 We Are Champions All The Time

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae corporis dolorem ea esse explicabo

			a.blog_item(href="#")
				span.blog_item-img(style="background-image: url(img/5.jpg)")
				span.blog_item-cont
					h4 We Are Champions All The Time

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae corporis dolorem ea esse explicabo

			a.blog_item(href="#")
				span.blog_item-img(style="background-image: url(img/6.jpg)")
				span.blog_item-cont
					h4 We Are Champions All The Time

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda beatae corporis dolorem ea esse explicabo


		.buttoncase
			a.gb-btn(href='#') View Blog
