section.form
	.wrap
		form.grid
			div
				input(type="text" name="name" placeholder="Name..." required)
			div
				input(type="text" name="name" placeholder="Surname..." required)
			div
				input(type="text" name="name" placeholder="Email..." required)
			div
				button.gb-btn YES! READY
