header.header.grid(style="background-image: url(img/0-header.jpg)")

	.header_content.grid
		h1 We are real creators

		.header_buttons
			a.gb-btn(href="#") Follow
			a.gb-btn.__gray(href="#") Go Home


