section.ready.landing-section
	.wrap.grid
		.ready_left
			h2 Are you Ready?
				br
				| Are you Ready???

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae delectus deleniti dignissimos dolor dolorum ducimus eligendi exercitationem facere maxime neque nihil quam quia recusandae repudiandae, rerum tenetur vitae voluptate voluptates.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur dignissimos distinctio ea eius esse ex fugit hic ipsum modi praesentium provident qui quidem sint unde velit voluptate, voluptatem voluptates!

		.ready_right
			img(src="img/example.jpg" alt="photo")
