.grid {
	display: grid;
}

.grid div {
	background-color: #28314E;
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font: 18px roboto;
}

.grid div:nth-child(odd) {
	background-color: #475477;
}

.__1 {
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px
}