.header {
	position: relative;
	
	align-content: center;
	min-height: 100vh;
	
	background-size: cover;
	background-position: center;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		background-color: $dark;
		
		opacity: .92;
	}
	
	&_content {
		z-index: 1;
		
		padding: 60px $gutter;
		
		text-align: center;
		
		color: #fff;
		
		h1 {
			margin: 20px 0;
			
			font-size: 60px;
			line-height: 1.5;
			font-family: $introReg;
			text-transform: uppercase;
		}
	}
	
}/*END header*/
