.app-list {
	padding: 30px 0;
}
.app-list .list-group-item {
	padding: 12px 25px 10px;
	margin-top: 10px;
}
.app-list .list-group-item:first-child {
	margin-top: 0;
}
.app-list .list-group-item+.list-group-item {
	border-top-width: 1px;
}